
*.class
*.MF
target/classes/META-INF/maven/atmj/comun/pom.properties
target/classes/META-INF/maven/atmj/comun/pom.xml
*.jar
target/comun-0.0.1-SNAPSHOT.jar.original
target/maven-archiver/pom.properties
*.lst
*.prefs
.classpath
.project
*.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
.project
*.prefs
/target/
/.gitignore
